html,body{
    height: 100%;
}
body{
    background-color: #000000;
    margin: 0;
    font-family: Helvetica,sans-serif;
    overflow: hidden;
}
a{
    color: #ffffff;
}
#menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
#feeling{
    color: rgba(127,255,255,0.75);
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    height: 30px;
}
.element {
    width: 250px;
    height: 200px;
    padding: 40px 0;
    box-shadow: 0 0 12px rgba(0,255,255,0.5);
    border: 1px solid rgba(127,255,255,0.25);
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}
.number{

}
.book_name{

}
.author{

}
button {
    color: rgba(127,255,255,0.75);
    background: transparent;
    outline: 1px solid rgba(127,255,255,0.75);
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
button:hover {
    background-color: rgba(0,255,255,0.5);
}
button:active {
    color: #000000;
    background-color: rgba(0,255,255,0.75);
}